.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#produk {
  background-color: #e2edff;
}
#review {
  background-color: #e2edff;
}

#login {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
